# SUMMER 2020

# CSE110 FINAL EXAM
**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

**<font color='red'>[Writing comments(explanatory sentences) in any of the code is completely optional]</font>**

# Task 01

Write a function called show_triangle that takes a number as an argument and prints a triangle in the function.


=============================================================


**Sample example 1:**


**Sample input 1:** 3

**Function Call:** show_triangle(3)

**Sample ouput 1:**\
1\
12\
123

**Explanation:** 
Here the argument passed to the function is 3. Here, 3 is the number of lines printed. For each line, we have numbers printed to that line number. For example, line1 has only 1 number, line 2 has only 2 numbers and line3 has only 3 numbers. 

=============================================================


**Sample example 2:**

**Sample input 2:** 4

**Function Call:** show_triangle(4)

**Sample ouput 2:**\
1\
12\
123\
1234

**Explanation**: 
Here the argument passed to the function is 4. Here, 4 is the number of lines printed. For each line, we have numbers printed to that line number. For example, line1 has only 1 number, line 2 has only 2 numbers, line3 has only 3 numbers and lastly, line4 has only 4 numbers.

In [2]:
#task 1
#to do
#funtion banabo.
def  show_triangle(user_input):
    '''triangle banabo '''
    for cou1 in range(1 , user_input+1):
        for cou2 in range (1, cou1+1):
            print(cou2 ,end='')
        print()
    print()
    
#user input nibo    
user_input = int(input("Enter a number : "))

#funtrion call korbo 
show_triangle(user_input)

#code ended

Enter a number : 4
1
12
123
1234

# Task 02

Take a String as input from the user. Then write a function that takes a String as an argument and returns a dictionary that contains the letters as Key and their corresponding ASCII code(values) as Value of the dictionary. Finally, print the returned dictionary **outside** the function. Consider, cases to be differnt. So, 'S' and 's' are differnt and unique letters.

=============================================================

**Sample example 1:**

**Sample input 1:**\
Exam

**Function Call:** function_name("Exam")

**Sample output 1:**\
{'E':69, 'x':120, 'a':97, 'm':109}

**Explanation:** In sample input 1, there are 4 unique letters and thus the dictionary contains the ascii of  those 4 letters as value. Consider, cases to be differnt. 

=============================================================

**Sample example 2:**

**Sample input 2:**\
Semester

**Function Call:** function_name("Semester")

**Sample output 2:**\
{ 'S':83, 'e':101, 'm':109, 's':115, 't':116, 'r':114 } 

**Explanation:** In sample input 2, there are 6 unique letters and thus the dictionary contains the ascii of  those 6 letters as value. Consider, cases to be differnt. So, 'S' and 's' are differnt and unique letters.

**Hint:** Use the ord() function to find the ascii value of each character .

In [9]:
#task 2
#to do
def ord_dict(user_input):
    '''khali  dict niye ata te str and value golo rhakbo'''
    dict1={}
    for i in user_input :
        a= ord(i)
        dict1[i]= a
    return dict1

#user input nibo.
user_input = input("Enter a string : ")

#funtion ta print korbo, and aikhane return  kora hoyeche .
print(ord_dict(user_input))

#code ended

Enter a string : Semester
{'S': 83, 'e': 101, 'm': 109, 's': 115, 't': 116, 'r': 114}

# Task 03

Write a function that takes two arguments as an input from the user. First argument is a string and the second argument is an integer. Both the arguments have to be taken as an input from the user. Your task is to create a new string which will only contain the characters from the string(first argument of your function), if their ascii values are divisible by the given integer (second argument of your function). Finally print the new string **inside** the function.


=============================================================


**Sample example 1:**\
**Sample input 1:**\
ad bc\
2

**Function Call:** function_name('ad b', 2)\
**Sample output 1:**\
d b

**Explanation**: 
Here two arguments are passed to the function. If you iterate over the characters of the given string and find their corresponding ascii values, they are 97, 100, 32 and 98 respectively. After doing mod in each ascii value, the values which are divisible by the second argument are concatenated in a new string variable. Finally since the ascii values of 'd', ' ' and 'b' is divisible by 2 we get the final output.

=============================================================

**Sample example 2:**\
**Sample input 2:**\
I love programming\
5

**Function Call:** function_name('I love programming', 5)\
**Sample output 2:**\
in

**Explanation:** 
Here two arguments are passed to the function.  If you iterate over the characters of the given  string and find their corresponding ascii values, you will see 'i' and 'n' is only divisible by 5. Therefore, add these characters to a new string and when the loop ends you will get the final output.

**Hint:** Use the ord() function to find the ascii value of each character and mod by the integer to find if the character is divisible or not.

In [1]:
#task 3
#to do
#user input golo nibo.
str1 = input('Enter a string : ' ) 
num = int(input("Enter a number : "))

#funtion banabo
def even_ord( str1 , num ):
    """new_s a even ord er letter golo rhakbo"""
    
    new_s =''
    
    for cou1 in str1:
        if (ord(cou1) % num == 0):
            new_s += cou1
    print(new_s)

#funtion call dibo. jetar inside a new_s ta print ache.
even_ord( str1 , num )

#code ended.

Enter a string : I love programming
Enter a number : 5
in